body {
    margin: 5% 15%;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#sec1 {
    border: 2px solid black;
}

#FDev {
    margin: 5%;
}

#rightNav>a {
    text-decoration: none;
    color: black;
    margin: 0 0.5rem;
}

section>div {
    display: flex;
    justify-content: center;
}

section div div {
    padding: 15px;
}

#sec2 {
    display: flex;
    border: 2px solid black;
    border-top-width: 0px;
}

#sec2 div {
    display: grid;
    border: 1px solid black;
}

#sec3 {
    height: 30em;
    width: 99.5%;
    border: 2px solid black;
}


#sec3 div div {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 50px;
    margin: 5%;
    display: block;
}

.profName {
    color: slategrey;
}